{% extends 'layout.html'%}
{% block title %}Inicio{% endblock %}
{% block menu %}veox-page-menu{% endblock %}

{% block content %}
<section>
    <div class="veox-page">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" style="border:0; width: 100%; height: 450px;" allowfullscreen></iframe>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Contacto</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique natus nam temporibus quisquam
                        ratione expedita amet saepe hic possimus alias eius, corrupti corporis est. Adipisci modi harum
                        laborum cupiditate nulla!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}