{% extends 'layout.html'%}
{% block title %}Inicio{% endblock %}

{% block content %}
<section>
  <div class="veox-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
          <h1>Contacto</h1>
          <ul>
            <li><a href=""><i class="fa fa-home"></i>Inicio</a></li>
            <li><span>Contacto</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="veox-page-contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
          <div class="veox-container">
            <h1>Contacto</h1>
            <div class="veox-contact">
              <div class="form-group">
                <span><i class="fa fa-map-marker"></i>Dirección:</span>
                <span>Urbanización Luz y Alegría Mz. B2 Slt. 3 Paucarpata</span>
                <span><small>Arequipa - Perú</small></span>
              </div>
              <div class="form-group">
                <span><i class="fa fa-phone"></i>Teléfono:</span>
                <span>054-417397</span>
              </div>
              <div class="form-group">
                <span><i class="fa fa-envelope"></i>Correo electrónico:</span>
                <span>veox.soft.dev@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
          <div class="veox-container">
            <h1>Comunícate con nosotros</h1>
            <div class="veox-contact-form">
              <form action="" method="post">
                <div class="form-group">
                  <label>Nombres y apellidos:</label>
                  <input type="text" name="name" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <label>Correo electrónico:</label>
                  <input type="email" name="email" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <label>Asunto:</label>
                  <input type="text" name="subject" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <label>Mensaje:</label>
                  <textarea name="message" class="form-control" cols="3" rows="3"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
          <div class="veox-container">
            <h1>Búscanos en las redes sociales</h1>
            <div class="veox-social">
              <ul>
                <li><a href="https://www.facebook.com/veoxtech" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href=""><i class="fa fa-twitter" target="_blank"></i></a></li>
                <li><a href=""><i class="fa fa-instagram" target="_blank"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-play" target="_blank"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.0647844606515!2d-71.49612588497362!3d-16.421535843066877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b376885a799%3A0x6c0522da3cfb44d0!2sVEOX!5e0!3m2!1ses-419!2spe!4v1553710163357"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
{% endblock %}