{% extends 'layout.html'%}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<style>
  .veox-nosotros {
    padding: 100px 0px 100px 0px;
    background-color: #ECEFF1;
    text-align: center;
  }

  .veox-nosotros h1 {
    margin: 0px 0px 30px 0px;
    font-size: 2.5em;
    font-weight: lighter;
    color: #3d4698;
  }

  .veox-nosotros p {
    margin: 30px 0px 0px 0px;
    font-size: 1.5em;
    font-weight: lighter;
    color: #009688;
  }

  .veox-nosotros p b {
    color: #3d4698;
  }

  .veox-dedicamos {
    padding: 100px 0px 100px 0px;
    background-color: #009688;
    text-align: center;
  }

  .veox-dedicamos h1 {
    margin: 0px 0px 30px 0px;
    font-size: 2.5em;
    font-weight: lighter;
    color: #fff;
  }

  .veox-dedicamos h2 {
    margin: 20px 0px 20px 0px;
    font-size: 1.5em;
    font-weight: lighter;
    color: #fff;
  }

  .veox-dedicamos i {
    margin: 0px 0px 0px 0px;
    font-size: 5em;
    color: #fff;
  }

  .veox-dedicamos p {
    width: 70%;
    margin: 30px 0px 30px 0px;
    font-size: 1em;
    font-weight: lighter;
    color: #fff;
  }
</style>
<section class="veox-nosotros">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <h1>¿Quiénes somos?</h1>
        <img src="{% static 'images/logo_titulo.png' %}" alt="image">
        <p><b>VEOX</b> es una empresa de tecnología que combina el desarrollo de software y hardware con base científica
          para brindar soluciones disruptivas para problemas de la región. </p>
      </div>
    </div>
  </div>
</section>
<section class="veox-dedicamos">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <h1>¿A qué nos dedicamos?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <center>
          <i class="fa fa-podcast"></i>
          <h2>Sensoramiento Remoto</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nobis autem quisquam. Quasi quis
            repudiandae modi, dolores porro ad fuga debitis! Perferendis totam a dolorum rem laborum? Neque, est nulla.
          </p>
        </center>
      </div>
      <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <center>
          <i class="fa fa-eye"></i>
          <h2>Visión Computacional </h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nobis autem quisquam. Quasi quis
            repudiandae modi, dolores porro ad fuga debitis! Perferendis totam a dolorum rem laborum? Neque, est nulla.
          </p>
        </center>
      </div>
      <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <center>
          <i class="fa fa-cogs"></i>
          <h2>Automatización y Control</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nobis autem quisquam. Quasi quis
            repudiandae modi, dolores porro ad fuga debitis! Perferendis totam a dolorum rem laborum? Neque, est nulla.
          </p>
        </center>
      </div>
      <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <center>
          <i class="fa fa-home"></i>
          <h2>Geoportal</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nobis autem quisquam. Quasi quis
            repudiandae modi, dolores porro ad fuga debitis! Perferendis totam a dolorum rem laborum? Neque, est nulla.
          </p>
        </center>
      </div>
    </div>
  </div>
</section>
<section>

</section>
{% endblock %}