{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %} - VEOX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div id="header" class="fixed-top {% block menu %}{% endblock %}">
            <div class="container">
                <div class="logo float-left">
                    <a href="{% url 'index' %}" class="scrollto"><img src="{% static 'images/logo.png' %}" alt="logo" class="img-fluid"></a>
                </div>
                <nav class="main-nav float-right d-none d-lg-block">
                    <ul>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'index' %}#about">Nosotros</a></li>
                        <li><a href="{% url 'index' %}#services">¿A qué nos dedicamos?</a></li>
                        <li><a href="{% url 'index' %}#portfolio">Proyectos</a></li>
                        <li><a href="{% url 'index' %}#team">Equipo</a></li>
                        <li><a href="{% url 'contact' %}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <div id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-4 footer-info">
                            <h3>VEOX</h3>
                            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna
                                derita
                                valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis
                                imperdiet
                                proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                        </div>
                        <div class="col-12 col-sm-4 footer-newsletter">
                            <h4>Our Newsletter</h4>
                            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam
                                illum dolore legam minim quorum culpa amet magna export quem marada parida nodela
                                caramase
                                seza.</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Subscribe">
                            </form>
                        </div>
                        <div class="col-12 col-sm-4 footer-contact">
                            <h4>Contacto</h4>
                            <p>
                                A108 Adam Street <br>
                                New York, NY 535022<br>
                                United States <br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                            <div class="social-links">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>VEOX</strong>
                </div>
            </div>
        </div>
    </footer>
    <a class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/mobile-nav.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>