{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %} - VEOX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/veox-style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div id="header" class="fixed-top {% block menu %}{% endblock %}">
            <div class="container">
                <div class="logo float-left">
                    <a href="{% url 'index' %}" class="scrollto"><img src="{% static 'images/logo.png' %}" alt="logo"
                            class="img-fluid"></a>
                </div>
                <nav class="main-nav float-right d-none d-lg-block">
                    <ul>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'index' %}#about">Nosotros</a></li>
                        <li><a href="{% url 'index' %}#services">¿A qué nos dedicamos?</a></li>
                        <li><a href="{% url 'index' %}#portfolio">Proyectos</a></li>
                        <li><a href="{% url 'index' %}#team">Equipo</a></li>
                        <li><a href="{% url 'contact' %}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>

    <footer>
        <div id="veox--footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="menu">
                            <div class="info">
                                <img src="{% static 'images/logo.png' %}" alt="logo">
                                <span>VEOX</span>
                            </div>
                            <ul>
                                <li><a href="{% url 'index' %}">Inicio</a></li>
                                <li><a href="">Nosotros</a></li>
                                <li><a href="">Novedades</a></li>
                                <li><a href="">Proyectos</a></li>
                                <li><a href="{% url 'contact' %}">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h1 class="footer-title">Enlaces externos</h1>
                    </div>
                    <div class="col-sm-3">
                        <h1 class="footer-title">Proyectos</h1>
                        <div class="projects">
                            <ul>
                                <li><a href="https://www.facebook.com/ProyectoLevix" target="_blank">Proyecto
                                        Atlantis</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h1 class="footer-title">Información de contacto</h1>
                        <div class="contact">
                            <div class="form-group">
                                <span><b><i class="fa fa-map-marker"></i>Dirección: </b></span>
                                <span>Urbanización Luz y Alegría Mz. B2 Slt. 3 Paucarpata</span>
                                <span><small>Arequipa - Perú</small></span>
                            </div>
                            <div class="form-group">
                                <span><b><i class="fa fa-phone"></i>Teléfono: </b></span>
                                <span>054-417397</span>
                            </div>
                            <div class="form-group">
                                <span><b><i class="fa fa-envelope"></i>Correo electrónico: </b></span>
                                <span>veox.soft.dev@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="veox--footer-information">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="social">
                            <ul>
                                <li><a href="https://www.facebook.com/veoxtech" target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" target="_blank"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" target="_blank"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play" target="_blank"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="copyright">
                            <span>&copy; VEOX - 2019</span>
                            <span>Todos los derechos reservados</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/mobile-nav.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>